@font-face {
    font-family: 'MFred';
    src: url("../fonts/MFred.eot");
    src: url("../fonts/MFred.eot") format("embedded-opentype"), url("../fonts/MFred.woff") format("woff"), url("../fonts/MFred.ttf") format("truetype"), url("../fonts/MFred.svg#MFred") format("svg");
}

@font-face {
    font-family: 'BebasNeue';
    src: url("../fonts/BebasNeue.eot");
    src: url("../fonts/BebasNeue.eot") format("embedded-opentype"), url("../fonts/BebasNeue.woff") format("woff"), url("../fonts/BebasNeue.ttf") format("truetype"), url("../fonts/BebasNeue.svg#MFred") format("svg");
}

@font-face {
    font-family: 'BerninoSansOffc';
    src: url("../fonts/BerninoSansOffc.eot");
    src: url("../BerninoSansOffc.eot") format("embedded-opentype"), url("../fonts/BerninoSansOffc.woff") format("woff"), url("../fonts/BerninoSansOffc.ttf") format("truetype"), url("../fonts/BerninoSansOffc.svg#MFred") format("svg");
}

body{
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
}

.navbar-brand.navbrand-top{
	display: block;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 75px;
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
}

.navbar{
	width: 70%;
	margin: 0 auto;
	padding: 0 1rem;
	font-family: 'BebasNeue';
}

.navbar .nav-item .nav-link{
	padding: 1.5rem 3rem;
	font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
	color: #17a2b8;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(255,255,255,.9);
    background: #17a2b8;
}

.navbar .navbar-brand{
	display: none;
}

.navbar-nav .dropdown-menu{
width: 100%;
    border-radius: 0;
    outline: none;
    border: none;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

/*=============================
 Front View
 ==============================*/

#front-view{
	background: url(../images/real-estate.jpg) fixed center center;
	height: 100vh;
	background-size: cover;
	background-color: #17a2b8;
}

#main-view h1{
	font-size: 7.5rem;
	font-family: 'MFred';
	text-transform: uppercase;
}

#main-view{
	text-align: center;
	padding-top: 10%;
}

#main-view p{
	font-family: 'BebasNeue';
	font-size: 2rem;
}

/*===============================
 Intro Section
================================= */

#intro, #query, #contact {
	min-height: 100vh;
}

.wrapper-overlay{
	margin:0;
}

.wrappero {
    overflow: hidden;
}

.box-wide{
	background: rgba(255,255,255,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(158,158,158,0.65) 70%, rgba(0,0,0,0.5) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(70%, rgba(158,158,158,0.65)), color-stop(100%, rgba(0,0,0,0.5)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(158,158,158,0.65) 70%, rgba(0,0,0,0.5) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(158,158,158,0.65) 70%, rgba(0,0,0,0.5) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(158,158,158,0.65) 70%, rgba(0,0,0,0.5) 100%);
background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(158,158,158,0.65) 70%, rgba(0,0,0,0.5) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=1 );
}

.box-wide{
	padding: 0;
}

.overlay-left{
	background-color: #fff;
	margin-top: -5%;
}

.wrapper {
    position: relative;
}

.wrapper-panel {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.box-vid {
    padding: 10% 5%;
    background: #fff;
    vertical-align: top !important;
    text-align: center;
    display: inline-block;
    margin-top: -5%;
}

.box-vid:before {
    position: relative;
    content: '';
    display: inline-block;
    width: 100%;
    padding-top: 100%;
}

.box-small {
    max-width: 300px;
}

.box-svg {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
}

.overlap-right {
    position: absolute;
    left: 42%;
    top: 25%;
    z-index: 10;
}

.section-header {
    text-transform: uppercase;
    font-size: 150px;
    font-size: 6.75rem;
    letter-spacing: 0.1em;
    margin-bottom: 23px;
    line-height: 0.9;
    font-weight: bold;
        font-family: 'MFred';
}

.super {
    text-transform: uppercase;
    font-size: 1rem;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    letter-spacing: 0.075em;
    line-height: 1.3;
    margin-bottom: 12px;
}

.colored {
    color: #17a2b8;
}

.paragraph {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 30px;
}

.link {
    position: relative;
    display: inline-block;
    line-height: 1;
    font-size: 12px;
    font-size: 0.75rem;
    letter-spacing: 0.1em;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.link,
.link:hover {
    text-decoration: none;
}

.icolink {
    position: relative;
    display: inline-block;
    width: 22px;
    height: 5px;
    margin-right: 17px;
    margin-bottom: 1px;
    overflow: hidden;
}

.link-overlay-right {
    -webkit-transform: translateX(0) translateZ(0);
    -ms-transform: translateX(0) translateZ(0);
    transform: translateX(0) translateZ(0);
    -webkit-transition: 0.35s cubic-bezier(0.23, 1, 0.32, 1);
    transition: 0.35s cubic-bezier(0.23, 1, 0.32, 1);
}

.link-overlay-left {
    -webkit-transform: translateX(-150%) translateZ(0);
    -ms-transform: translateX(-150%) translateZ(0);
    transform: translateX(-150%) translateZ(0);
    -webkit-transition: 0.35s 0s cubic-bezier(0.23, 1, 0.32, 1);
    transition: 0.35s 0s cubic-bezier(0.23, 1, 0.32, 1);
}

.link-panel-right {
    -webkit-transform: translateX(0) translateZ(0);
    -ms-transform: translateX(0) translateZ(0);
    transform: translateX(0) translateZ(0);
    -webkit-transition: 0.4s cubic-bezier(0.125, 0.75, 0.415, 1);
    transition: 0.4s cubic-bezier(0.125, 0.75, 0.415, 1);
}

.link-panel-left {
    -webkit-transform: translateX(0) translateZ(0);
    -ms-transform: translateX(0) translateZ(0);
    transform: translateX(0) translateZ(0);
    -webkit-transition: 0.4s cubic-bezier(0.125, 0.75, 0.415, 1);
    transition: 0.4s cubic-bezier(0.125, 0.75, 0.415, 1);
}

.link-mask-left {
    -webkit-transform: translateX(-100%) translateZ(0);
    -ms-transform: translateX(-100%) translateZ(0);
    transform: translateX(-100%) translateZ(0);
    -webkit-transition: 0.4s cubic-bezier(0.125, 0.75, 0.415, 1);
    transition: 0.4s cubic-bezier(0.125, 0.75, 0.415, 1);
}

.link-mask-right {
    -webkit-transform: translateX(100%) translateZ(0);
    -ms-transform: translateX(100%) translateZ(0);
    transform: translateX(100%) translateZ(0);
    -webkit-transition: 0.4s cubic-bezier(0.125, 0.75, 0.415, 1);
    transition: 0.4s cubic-bezier(0.125, 0.75, 0.415, 1);
}

.link:hover .link-overlay-right,
.gtent:hover .link-overlay-right {
    -webkit-transform: translateX(100%) translateZ(0);
    -ms-transform: translateX(100%) translateZ(0);
    transform: translateX(100%) translateZ(0);
}

.link:hover .link-overlay-left,
.btn-content:hover .link-overlay-left {
    -webkit-transition: 0.35s 0.2s cubic-bezier(0.23, 1, 0.32, 1);
    transition: 0.35s 0.2s cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transform: translateX(0) translateZ(0);
    -ms-transform: translateX(0) translateZ(0);
    transform: translateX(0) translateZ(0);
}

.link:hover .link-panel-right,
.btn-content:hover .link-panel-right {
    -webkit-transform: translateX(100%) translateZ(0);
    -ms-transform: translateX(100%) translateZ(0);
    transform: translateX(100%) translateZ(0);
}

.link:hover .link-panel-left,
.btn-content:hover .link-panel-left {
    -webkit-transform: translateX(-100%) translateZ(0);
    -ms-transform: translateX(-100%) translateZ(0);
    transform: translateX(-100%) translateZ(0);
}

.link:hover .link-mask-left,
.btn-content:hover .link__mask-left {
    -webkit-transform: translateX(0) translateZ(0);
    -ms-transform: translateX(0) translateZ(0);
    transform: translateX(0) translateZ(0);
}

.link:hover .link-mask-right,
.btn-content:hover .link-mask-right {
    -webkit-transform: translateX(0) translateZ(0);
    -ms-transform: translateX(0) translateZ(0);
    transform: translateX(0) translateZ(0);
}

.sprite {
    position: absolute;
}

.sprite-package {
    top: -10%;
    left: 0;
    width: 100%;
    height: 110%;
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
}

.mp-flow {
    padding: 0;
    min-height: 100vh;
}

.color-transparent {
    color: transparent;
}

.parallax-bg {
    background: url(../images/building-in-the-sky.jpg) fixed center center;
    background-size: cover;
    height: 100%;
}

.cell, .cell-box {
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
}

/*=============================
 Query Section
===============================*/

#query h2{
	// font-size: 5rem;
}

#query, #contact{
	background-color:#fefefe;
    padding: 10% 15%;
    text-align: center;
}

#contact{
	background-color: #eee;
}

form{
	padding-top: 5%;
}

.form-control, #contact .btn{
	border-radius: 0;
    padding: 1rem 1.5rem;
}

textarea{
	resize: none;
}

iframe{
	margin-top:50px;
    width: 100%;
    height: 75vh;
    border: none;
}

iframe html{

}

.skype-button{
margin-top: 50px;
}

footer{
	padding: 5% 0 3%;
	color: #fefefe;
	font-size: 16px;
}

footer .social{
	text-align: right;
}

footer .social .fa{
	padding-left: 5px;
}

@media (min-width: 768px) {
  .navbar-nav {
    width: 100%;
    text-align: center;
  }
  .navbar-nav > li {
    float: none;
    display: inline-block;
  }
}